aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-types
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
asteval==1.0.5
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
brightway2==2.4.7
Brotli==1.1.0
bw-migrations==0.2
bw2analyzer==0.10
bw2calc==1.8.2
bw2data==3.6.6
bw2io==0.8.12
bw2parameters==1.1.0
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docopt==0.6.2
docstring-to-markdown
docutils
ecoinvent_interface==3.1
eight==1.0.1
et-xmlfile
executing
fasteners==0.19
fastjsonschema
filelock
flake8
Flask
flexcache==0.3
flexparser==0.4
fonttools
frozendict
frozenlist
fsspec
future==0.18.3
gensim
gitdb
GitPython
greenlet
h11
h5py
HeapDict
holoviews
httpcore
httpx
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflate64==1.0.1
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml==5.2.1
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
mkl-service==2.4.0
mkl-fft
mkl-random
more-itertools
mpmath
mrio-common-metadata==0.2.1
msgpack
multidict
multipledispatch
multivolumefile==0.2.3
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl
overrides
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathspec
patsy
peewee==3.17.8
pexpect
pickleshare
pillow
Pint==0.24.4
pkce
pkginfo
platformdirs
plotly
pluggy
ply
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.3
psutil
ptyprocess
pure-eval
py-cpuinfo
py7zr==0.22.0
pyarrow
pyasn1
pyasn1-modules==0.2.8
pybcj==1.0.3
pycodestyle
pycosat
pycparser
pycryptodomex==3.21.0
pyct
pycurl
pydantic
pydantic-settings==2.7.1
pydantic_core
pydeck
PyDispatcher
pydocstyle
pyecospold==4.0.0
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pyppmd==1.1.1
PyPrind==2.11.3
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pyviz_comms
PyWavelets
pywin32==305.1
pywin32-ctypes
pywinpty
pyxlsb==1.0.10
PyYAML
pyzmq
pyzstd==0.16.2
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel.yaml
ruamel.yaml.clib
s3fs
scikit-image
scikit-learn==1.5.1
scipy==1.13.1
Scrapy
seaborn
semver
Send2Trash
service-identity
setuptools==75.1.0
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
stats_arrays==0.7
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
texttable==1.7.0
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
truststore
Twisted
twisted-iocpsupport
typing_extensions
tzdata
uc-micro-py
ujson
unicodecsv==0.14.1
unicodedata2
Unidecode
urllib3
voluptuous==0.15.2
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.44.0
Whoosh==2.7.4
widgetsnbextension
win-inet-pton
wrapt
xarray
xlrd==2.0.1
XlsxWriter==3.2.0
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
